@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@200;300&family=Work+Sans:ital,wght@0,300;0,600;1,500&display=swap');


/*CSS sidebar páginas do site*/

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial;
 }
 
 body {
     height: 100vh;
     background-color: #fff;
     margin: 0;
 }
  
 .sidebar {
     width: 300px;
     height: 100%;
     background-color: #b4b4b4;
     padding: 40px 0 40px 1%;
     box-shadow: 1px 0 0 black;
     position: fixed;
     top: 0;
     left: 0; 
     z-index: 2;
     z-index: 2;
     display: flex;
     overflow: hidden;
     align-items: flex-start;
     transition: 0.7s;
 } 

 ul {
   height: 100%;
   list-style-type: none;
}

ul li.ativo{
   background-color: rgb(37, 51, 34);
   }

ul li.item-menu{
       transition: 0.2s;
      
   }

ul li.item-menu:hover {
  background-color: #fff;
  border-radius: 15px;
  margin-left: -15px;
}

ul li.item-menu a{
   color: #383838;
   font-family: sans-serif;
   text-decoration: none;
   font-size: 20px;
   padding: 25px 2%;
   display: flex;
   margin-bottom: 20px;
   margin-left: 20px;
   line-height: 40px;
  }    
ul li.item-menu a .txt-link{
   margin-left: 40px;
   margin-right: 15px;

}

ul li.item-menu a .icon > i{
font-size: 30px;
margin-left: -5px;
}

/*Fim CSS sidebar */

/*Início CSS páginas site*/
 .conteudo {
   justify-content: center;
    margin-left: 320px;
    margin-right: 20px;
    margin-top: 50px;
    line-height: 1.5rem;
 }

 .conteudo h1 {
   margin-top: 80px;
   font-family: Lato , sans-serif;
 }

 .conteudo p {
   margin-top: 20px;
   font-size: 20px;
   font-family: 'Arial', sans-serif;
   font-weight: 400;
 }
 


 /*Fonst google
 font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif; */

 
/*Header páginas site*/
 .header-site {
    top: 0;
    position: fixed;
    left: 300px;
    width: calc(100% - 300px);
    z-index: 2;
    background-color: #2b7530;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
 }


/*CSS página aulas*/
 .div-1 {
    /*background-color: orangered;*/
    width: calc(100% - 355px);
    height: 140px;
    margin-left: 330px;
    margin-top: 70px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);*/
 }

 .div-1 img {
   max-width: 970px;
   border-radius: 25px;
   height: 170px;
   width: 900px;
   margin-left: 30px;
   margin-top: 30px;
   border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
   
 }

 .div-1 h1 {
    font-family: 'Lato', sans-serif;
    /*font-family: 'Work Sans', sans-serif;*/
    color: #fff;
    font-size: 45px;
    
 }

 .aulas-group{
   /* width: calc(100% - 300x);*/
    /*height: 200px;*/
    margin-top: 60px;
    margin-left: 330px;
    padding-left: 100px;
    /*padding-right: 200px;*/
    /*position: absolute;*/
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
 }
 
 .aulas-group div {
    width: 200px;
    height: 165px;
    background-color: #2B7530;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    margin-right: 100px;
}

.aulas-group h1 {
   font-family: 'Lato', sans-serif;
   position: relative;
   margin-top: auto;
   margin-bottom: auto;
   align-items: center;
   color: #fff;
   font-size: 45px;
   text-align: center;
   display: flex;
   justify-content: center;
}

.aulas-group2 {
   /*align-items: center;*/
   margin-top: 67px;
   display: flex;
   margin-left: 330px;
   padding-left: 100px;
}

.aulas-group2 div {
    width: 200px;
    height: 165px;
    border-radius: 15px;
    text-align: center;
    margin-right: 100px;
    background-color: #2B7530;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.aulas-group2 h1 {
   font-family: 'Lato', sans-serif;
   position: relative;
   margin-top: auto;
   margin-bottom: auto;
   align-items: center;
   color: #fff;
   font-size: 45px;
   text-align: center;
   display: flex;
   justify-content: center;
}

.titulo-aula {
   padding-top: 50px;
   margin-bottom: auto;
   align-items: center;
   text-align: center;
   margin: 15px 0 15px 0;
   
}
/*Fim página Aulas*/

/*Carousel página início */
.container-fluid {
   width: calc(100% - 330px);
   margin-left: 330px; 
   padding-right:30px ;
   margin-top: 75px;
   position: relative;
}

/* Ajustes das imagens carousel */
.carousel-inner img {
   max-height: 400px;
   max-width: 730px;
   margin-left: 125px;
   align-items: center;
}


/*Página CARDS Monitores*/

.card-monitor1{
   width: calc(100% - 665px);
   margin-top: 50px;
   margin-left: 330px;
   padding-right: 20px;
   height: 130px;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.card-monitor1 h1 {
   margin-top: 17px;
   margin-left: 30px;
}

.card-monitor1 h2{
   font-size: 30px;
   margin-top: 77px;
   margin-left: -100px;
}

.card-monitor2{
   width: calc(100% - 665px);
   margin-top: 50px;
   margin-left: 330px;
   padding-right: 20px;
   height: 130px;
   display: flex;
   border-radius: 15px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.card-monitor2 h1 {
   margin-top: 17px;
   margin-left: 30px;
}

.card-monitor2 h2 {
   font-size: 30px;
   margin-top: 77px;
   margin-left: -100px;
}

.card-monitor3 {
   width: calc(100% - 665px);
   margin-top: 50px;
   margin-left: 330px;
   padding-right: 20px;
   height: 130px;
   display: flex;
   border-radius: 15px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.card-monitor3 h1 {
   margin-top: 17px;
   margin-left: 30px;
}

.card-monitor3 h2 {
   font-size: 30px;
   margin-top: 77px;
   margin-left: -100px;
}

.img-perfil{
   background-color: #d1d1d1;
   margin-left: 15px;
   border-radius: 70px;
}
/*Fim CARS monitores*/
 
     /*Estilização site, página navgeagção*/
 
     .group {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100vh;
         width: 100vh;
         position: relative;
         max-width: 190px;
        }
        
        .input {
         width: 100%;
         height: 50px;
         line-height: 28px;
         padding: 0 1rem;
         padding-left: 2.5rem;
         border: 2px solid transparent;
         border-radius: 8px;
         outline: none;
         background-color: #f3f3f4;
         color: #0d0c22;
         transition: .3s ease;
        }
        
        .input::placeholder {
         color: #9e9ea7;
        }
        
        .input:focus, input:hover {
         outline: none;
         border-color: rgba(234,76,137,0.4);
         background-color: #fff;
         box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
        }
        
        /*Icone sidebar*/
        .icon {
         position: absolute;
         left: 1rem;
         fill: #9e9ea7;
         width: 1rem;
         height: 1rem;
        }

         .texto {
             text-align: center;
             margin-bottom: 20px; 
             width: 80%; 
             height: auto; 
             background-color: #0d0c22 ;
             padding: 20px;
             color: white;
            }
            
        